---
import { SEO } from "astro-seo";
import Navbar from "@components/navbar.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;


const makeTitle = title
  ? title + " | PF0"
  : "PF0"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image" content="https://www.ricoh-imaging.co.jp/english/products/xg-1/ex/img/ex-pic07.jpg">
    <meta property="og:title" content={makeTitle}>
    <meta property="og:description" content={description}>

<!--<meta property="og:image" content="https://popupsmart.com/blog/user/pages/365.free-keyword-research-tools/Free-keyword-research-tools-cover.png">

<meta property=”og:title” content=”Your Title”/>

<meta property=”og:description” content=”A full description of the page.”/>

<meta property=”og:image:width” content=”1200″/>

<meta property=”og:image:height” content=”630″/>-->

    <SEO
      title={makeTitle}
      description={description}
      canonical="https://pf0-dev.github.io/"
    />
  </head>
  <Navbar/>
  <body>
    <div class="layout">
      <slot />
    </div>
  </body>
</html>

<style is:global>
img { /* Improves speed https://css-tricks.com/almanac/properties/c/content-visibility */
content-visibility: auto;
}

html::-webkit-scrollbar {
  width: 1vw;
  background-color: #a7edff;
}
html::-webkit-scrollbar-thumb {
  background-color: #356f77;
}
/* Reduces width, espeicaly on wide displays */

body {
  margin: 0;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: #374147;
}
.layout {
  max-width: 40rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}
html, p {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  color: white;
}
@font-face {
  font-family: AlphaBeta;
  src: url('/fonts/alphabeta.ttf');
} 
h1 {
  font-size: 4rem;
  text-align: center;
  font-family: AlphaBeta;
}
h2 {
  font-size: 2.67rem;
  font-family: AlphaBeta;
}
p {
  font-size: 1.34rem;
}
</style>